*:target h2 {
    background-color: yellow;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

article {
    border-bottom: 1px solid #000;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
}

/* classe utilitaria */
.w-100 {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 760px;
}

.mainHeader {
    background-color: #13131c;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
}

.menuItem {
    display: block;
    background-color: #39394a;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    margin: 10px auto;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

.footer {
    background-color: #13131c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer a {
    color: #fff;;
}